# Terraform plugin binaries
terraform/.terraform/plugins

# Terraform state for local backend
terraform/.terraform/terraform.tfstate
terraform/.terraform/terraform.tfstate.backup

# Sensitive data in Terraform variables
terraform/main.auto.tfvars

# Plaintext Kubernetes secrets
# disabled to allow testing
# kubernetes/yaml/resources/secrets.yml
